/* CSS Reset */
/*Allows to easily manipulate the sizes and positioning of elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Google Font*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*navigation bar*/
/* 1rem = 16px (default font size) */
nav {
    /*shorthand property*/
    /*Applied padding to all sides*/
    /*Value is 12.8 pixels based on the root element*/
    /*Creates space from between the ul tag and the nav element*/
    padding: 0.8rem;
    /*properties that make up the "padding" property*/
    /*padding-top: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;*/
    /*creates space between the nav and the intro section*/
 
    
    
    margin-top: 1.3%;


   

   

   

    list-style-type: none;
}

/*margin vs padding*/
/*margin is best used when creating space between elements.*/
/*padding is best used when creating space between an element's border and it's content.*/


.nav-logo
{
 
    display: inline;
  
        left: -10px; 


}

/*intro section*/
#intro {

    /*creates space between the contents of the intro section and the it's border*/
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    /*shorthand property*/
    /*padding: 2rem 10% 3rem;*/
    text-align: center;
}

.header {
    /*best used when horizontally aligning text instead of using margin and padding*/
    text-align: center;
}

#intro h2  {
    /*creates space between the contents of the intro section*/
    margin-bottom: 1rem;
}

#intro p
{
    margin-left: 12%;
    text-align: left;
}

#intro button {
    color: white;
    /*changes the thickness of text*/
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;

    font-size: 1rem;
    /*creates space between the button text and the border*/
    padding: 1rem;
}

/*succeed info section*/
/*exact same properties as the intro section but can have it's own CSS rule for flexibility.*/
#succeed-info {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}


#succeed-info h2 {
    /*creates space between the header and the card section*/
    margin-bottom: 1rem;
}

#succeed-info h3 {
    text-align: center;
    /*creates space between the h3 tags and the paragraph tags*/
    margin-bottom: 1rem;
}

#succeed-info .card{
    /*allows the cards to appear beside each other*/
    display: inline-block;
    /*aligns elements with the tallest element in line*/
    /*used with the "inline-block" value*/
    vertical-align: top;
    /*allows for cards to have equal height that adjust with the content*/
    min-height: 175px;
    /*measurement is based on equally dividing the parent container's width*/
    /*only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling*/
    width: 30%;
    /*creates horizontal spacing between cards*/
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*pre-footer*/
#pre-footer {
    /*creates space between the div tags and the pre-footer border*/
    padding: 1rem;
    background-color: #002540;
    /*allows for readability and color contrasting with dark background*/
    color: white;
}

#pre-footer > div {
    /*allows the div elements to appear beside each other.*/
    display: inline-block;
    /*makes longer text wrap around (phone numbers)*/
    width: 20%;
}

#pre-footer > div > * {
    /*creates space vertically between all the text elements in the pre-footer*/
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    /*margin: 0.3rem;*/
}

/*footer*/
footer {
    /*creates space between the span tags and the footer border*/
    padding: 0.7rem;
}

footer span {
    /*creates space horizontally between span tags*/
    /*best to use equal measurement on both sides for horizontal alignment.*/
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /*margin: 0 0.5rem;*/
}

.topnav {
  background-color: white;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  position: sticky;
  margin-top: -3%;
   border-top: 5px solid black;
      box-shadow: 5px 3px 12px black;
align-items: center;


    
      position: fixed; /* Set the navbar to fixed position */
      width: 100%;

}


.topnav a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-weight: bold;



}

.button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;

    font-size: 1rem;
    padding: 1rem;
}



.container
{

  width: 100%;
  height: 600px;
background-size: cover;
opacity: 1;

margin-top:2%;

 background-position: center;
background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)) , url(./images/Zuitt.jpg); 

}

.title
{
font-family: Zilla Slab;
color: white;
text-align: right;
margin-right:10%;
}

.subtitle
{
  font-family: Zilla Slab;
color: white;
text-align: right;  
font-weight: 100;
margin-right:10%;
}

.apply-button
{
    color: white;
  font-family: Zilla Slab;
    background-color: #c2195b;
    border-radius: 30px;
    font-size: 1rem;
    padding: 10px;
    margin-left: 78%;
    border-color: cornsilk;
    width: 200px;
}

.pre-footer {


    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    background-color: #f7fbfb;
}

.header {
    /*best used when horizontally aligning text instead of using margin and padding*/
    text-align: center;
}

.book-button
{
    color: white;

    background-color: #336589;
    border-radius: 30px;
    font-size: 1rem;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-color: white;
}
footer
{
        text-align: center;
}
